REACT_APP_FIREBASE_API_KEY=AIzaSyCbTpfzysWKldwr2PLkt6bO1zZAwpbHxY4
REACT_APP_FIREBASE_AUTH_DOMAIN=smartbus-project-ed975.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=smartbus-project-ed975
REACT_APP_FIREBASE_STORAGE_BUCKET=smartbus-project-ed975.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=YOUR_MESSAGING_SENDER_ID
REACT_APP_FIREBASE_APP_ID=YOUR_APP_ID
